.App {
  text-align: center;
}

.App-logo {

  height: 40vmin;
  pointer-events: none;
}
.App-weather {
  height: 5vmin;
  background-color: #5A739A;
}
.App-title {
  color: black;
}

.App-header {
  background-color: #5A739A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dfdfdf;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Days {
  display:grid;
  border-top: 3px solid #dfdfdf;
  border-left: 3px solid #dfdfdf;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  background-color: #5a739a;
}
